
<h2>Hospedes:</h2>
<div class="card">
    <div class="card-body mt-8">
        <h2>Pesquisa:</h2>
         <form action="/admin/clientes/pesquisa" method="post">
            <label form="nome" class="mt-3">Cliente:</label>
            <input type="text" id="nome" name="nome" placeholder="Nome do Cliente" class="form-control" value="nome">
            <label for="telefone" class="mt-3">telefone:</label>
            <input type="tel" id="telefone" name="telefone" placeholder="55-55555-5555" class="form-control" value="55-55555-5555" pattern="[0-9]{2}-[0-9]{5}-[0-9]{4}">            
            <label form="cidade" class="mt-3">Cidade:</label>
            <input type="text" id="cidade" name="cidade" placeholder="Cidade" value="cidade" class="form-control">
            <button type="submit" class="btn btn-success mt-2">Search</button>
            <svg class="bi bi-search" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z" clip-rule="evenodd"/>
            </svg>
        </form>
    </div>
</div>