<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Brisas do Farol</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      {{#if user}}
      <li class="nav-item">
        <a class="nav-link" href="/admin/reservas">Reservas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/clientes">Hospedes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/casas">Hospedagem</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/usuarios/logout">Sair</a>
      </li>
      {{else}}
      <li class="nav-item active">
        <a class="nav-link" href="/admin">Home <span class="sr-only">(current)</span></a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="/usuarios/login">Entrar</a>
      </li>
      {{/if}}
    </ul>
  </div>
</nav>