<h2>Custos:</h2>
<hr>
<a href="/custos/addcustos"><button class="btn btn-success mt-4">Novo</button></a><br>
<a href="/custos/consulta"><button class="btn btn-success mt-4">Consulta</button></a><br>
<a href="/custos/relatorio"><button class="btn btn-success mt-4">Relatorio</button></a>