<div class="card">
    <h2>Relatorio:</h2>
    <div class="card-body">
        <h2>Informe o mes e ano para gerar o relatorio:</h2>
         <form action="/custos/relatorio" method="post">
            <label form="tipo" class="mt-3">Mes:</label>
            <input type="text" value="mm/aaaa" id="mes" name="mes" class="form-control">
          
            <button type="submit" class="btn btn-success mt-2">Relatório</button>
        </form>
    </div>
</div>