<h2>Reservas:</h2>
<hr>
<a href="/admin/reservas/add"><button class="btn btn-success mt-4">Nova reserva</button></a><br>
<a href="/admin/reservas/consulta"><button class="btn btn-success mt-4">Consultas reservas</button></a>