<h2>Hospedes:</h2>
<hr>
<a href="/admin/clientes/add"><button class="btn btn-success mt-4">Novo</button></a>
<a href="/admin/clientes/consulta"><button class="btn btn-success mt-4">Consulta</button></a>